
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=82873183aa0d212377d2e28be856f6ee
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
