
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b6d4cc98cbf9a825329eb038ffe177f8
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
